<!DOCTYPE html>
<html>
<head>
    <link href="documentView.css" rel="stylesheet">
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.doc_id %> - <%= r.scene_title %> - <%= r.play_title %> - <%= r.tag_english %> - <%= r.tag_short %> - <%= r.tag_med %> - <%= r.tag_long %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
